@import url('https://fonts.googleapis.com/css?family=Cuprum');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

html {
  height: 100%;
  background: linear-gradient(-70deg, lightblue, lightgreen);

}

body {
  padding-top:  200;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;

}

button {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

}

a {
  text-decoration-line: none;

}


#App {
  height: 100%;
}
