@import url('https://fonts.googleapis.com/css?family=Cuprum');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

html {
  height: 100%;
  background:
                linear-gradient(-50deg, rgba(111, 0, 41,.8),  rgba(196, 158, 103,.8)),
                radial-gradient(rgba(196, 158, 103,.7), rgba(111, 0, 41,.7)), fixed,
                url("../ULM.JPG")
                ;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;

}

#root {
    height: 100%;
    font-family: 'Open Sans';
}

button {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

}

button:hover {
    background-color: rgba(0,0,0, .8);
    transition: background-color .3s linear;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: initial;
}

a {
  text-decoration-line: none;
  text-transform: uppercase;

}

a:hover{
    color: #C2939C;
    transition: color .3s linear;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: initial;
}

input {
    font-family: 'Open Sans';
}

#App {
  height: 100%;
  font-family: 'Open Sans';
}
